* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'sans-serif';
}
h1, h2, h3, h4, h5, h6 {
    color: #555
}

h1 {
    text-align: center;
}

.biggestContainer {
    display: block;
    height: 100vh;
    width: auto;
    overflow: hidden;
}

.title {
    display: block;
    height: 5vh;
}

.lowerPartContainer {
    display:flex;
    flex-direction: row;
    height: 90vh;
}

.graphContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
}

.globalDataContainer {
    display: flex;
    flex-direction: column;
    width: auto;
}

.dropdown {
    display: block;
    height: 5vh;
}

.graph {
    display: block;
    height: 45vh;
}
/* 
test 
 */