* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'sans-serif';
}
h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-family: 'sans-serif';
}

h1 {
    text-align: center;
}

.biggestContainer {
    display: block;
    height: 100vh;
    width: auto;
    overflow: hidden;
    /* background-color: #3c40c6; */
}

.titleContainer {
    display: block;
    height: 10%;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px, solid, red;
}

.lowerPartContainer {
    display:flex;
    flex-direction: row;
    height: auto;
}

.leftPart {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rightPart {
    display: flex;
    flex-direction: column;
    width: auto;
}

.graphHeader {
    display: flex;
    flex-direction: row;
    height: 20%;
}

.nationalData {
    display: block;
    width: 40%;
}

.functions {
    display: block;
    width: auto;
}

.graphContainer {
    display: block;
}

.globalDataContainer {
    display: flex;
    flex-direction: column;
    width: auto;
}

.dropdown {
    display: block;
    /* height: 5vh; */
}
